<div class="film-card">
 <a class="" href="https://image.tmdb.org/t/p/w500/{{poster_path}}">
     <img class="poster" src="https://image.tmdb.org/t/p/w200/{{poster_path}}" loading="lazy" alt="{{title}}" width="" height=""/>
 </a>
 <div class="info-wrapper">
     <h2 class="film-title">{{title}}</h2>
     <p class="film-parameters">Vote {{vote_average}}</p>
     <p class="film-parameters">Popularity {{popularity}}</p>
     {{!-- <p class="film-parameters">Genre {{genre_ids}}</p> --}}
     {{!-- <p class="film-about">About</p> --}}
 </div>
</div>